<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Catalog page - shop</title>
	<link rel="stylesheet" href="css/main.css">

</head>
<body>
	<div class="page-container">
		<header class="header">
			<div class="container">
				<div class="header-inner">
					<a href='start.html' class="logo">Template</a>
					<a href='start.html' class="logo logo-mobile">TL</a>
					<div class="info">
						<a href="#" class="info-link">E-mail sing up</a>
						<a href="shopping-bag.html" class="bag"><img class="bag-icon" width="12" src="img/ico_bag.svg" alt=""> <span id="totalPrice">Bag £0 (0)</span></a>
						<a href="#" class="toggle-btn"><span class="icon-toggle"></span></a>
					</div>
				</div>
				<div class="toggle-block">
					<nav class="toggle-menu">
						<a href="#">Women</a>
						<a href="#">Men</a>
						<a href="#">Handbags</a>
						<a href="#">Accessories</a>
						<a href="#">Sale</a>
						<a href="#">New Arrivals</a>
						<a href="#">Clearance</a>
						<a href="#">Store Locator</a>
					</nav>
					<form action="#" class="search-form">
						<div class="search-holder">
							<input type="text" placeholder="Style Name">
							<button id="search-btn"><img src="img/ico_search.svg" alt=""></button>
						</div>
					</form>
				</div>
			</div>
		</header>
		<div class="filter-holder">
			<div class="container">
				<a href="#" class="filter-link"><div class="filter-link__inner"><span>Casual style</span>, Product type, Color, <span>Antipodium</span>, UK</div></a>
				<a href="#" class="close-btn"><span class="close-icon"></span></a>
				<div class="filter-block">
					<div class="filter-item">
						<div class="filter-item__heading">
							<h3>Fashion</h3>
						</div>
						<ul class="filter-item__list">
							<li><span>Not selected</span></li>
							<li><a href="#">Nail the 90s</a></li>
							<li class="selected"><a href="#">Casual style</a></li>
							<li><a href="#">New Look</a></li>
							<li><a href="#">Sport</a></li>
							<li><a href="#">Vintage</a></li>
							<li><a href="#">Сlassical style</a></li>
						</ul>
					</div>
					<div class="filter-item">
						<div class="filter-item__heading">
							<h3>Product type</h3>
						</div>
						<ul class="filter-item__list">
							<li  class="selected"><span>Not selected</span></li>
							<li><a href="#">Coats &amp; Jackets</a></li>
							<li><a href="#">Dresses</a></li>
							<li><a href="#">Jersey Tops</a></li>
						</ul>
					</div>
					<div class="filter-item">
						<div class="filter-item__heading">
							<h3>Color</h3>
						</div>
						<ul class="filter-item__list">
							<li  class="selected"><span>Not selected</span></li>
							<li><a href="#">Black</a></li>
							<li><a href="#">Blue</a></li>
							<li><a href="#">Red</a></li>
							<li><a href="#">Green</a></li>
							<li><a href="#">Golden</a></li>
						</ul>
					</div>
					<div class="filter-item">
						<div class="filter-item__heading">
							<h3>Brand</h3>
						</div>
						<ul class="filter-item__list">
							<li><span>Not selected</span></li>
							<li><a href="#">Chi Chi London</a></li>
							<li  class="selected"><a href="#">Antipodium</a></li>
							<li><a href="#">Adidas</a></li>
							<li><a href="#">New Balance</a></li>
							<li><a href="#">River Island</a></li>
						</ul>
					</div>
					<div class="filter-item">
						<div class="filter-item__heading">
							<h3>Size</h3>
						</div>
						<ul class="filter-item__list">
							<li><span>Not selected</span></li>
							<li><a href="#">UK 2</a></li>
							<li  class="selected"><a href="#">UK 18</a></li>
							<li><a href="#">UK 18L</a></li>
							<li><a href="#">UK 20</a></li>
							<li><a href="#">UK 20L</a></li>
							<li><a href="#">UK 20S</a></li>
							<li><a href="#">UK 22S</a></li>
							<li><a href="#">UK 22</a></li>
						</ul>
					</div>
					<div class="filter-item">
						<div class="filter-item__heading">
							<h3>Price range</h3>
						</div>
						<ul class="filter-item__list">
							<li  class="selected"><span>Not selected</span></li>
							<li><a href="#">To £99</a></li>
							<li><a href="#">£100-£299</a></li>
							<li><a href="#">From £300</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<main>
			<div class="container">
				<section class="shopping-block">
					<div class="shop-list">
						<a href="item.html" class="shop-item">
							<div class="img-holder">
								<img src="img/catalog/image05.jpg" alt="">
								<div class="overlay">
									<span>View item</span>
								</div>
							</div>
							<div class="shop-item__heading">
								<h4>Only Skinny Jeans</h4>
							</div>
							<span>£65.50</span>
						</a>
						<a href="item.html"  class="shop-item">
							<div class="img-holder">
								<img src="img/catalog/image04.jpg" alt="">
								<div class="overlay">
									<span>View item</span>
								</div>
							</div>
							<div class="shop-item__heading">
								<h4>Boyfriend T-Shirt</h4>
							</div>
							<span>£76.25</span>
						</a>
						<a href="item.html" class="shop-item">
							<div class="img-holder">
								<img src="img/catalog/image01.jpg" alt="">
								<div class="overlay">
									<span>View item</span>
								</div>
							</div>
							<div class="shop-item__heading">
								<h4>Turtle Neck Jumper 
										in Rib</h4>
							</div>
							<span>£130.25 <span class="new">New</span></span>
						</a>
						<a href="item.html" class="shop-item">
							<div class="img-holder">
								<img src="img/catalog/image06.jpg" alt="">
								<div class="overlay">
									<span>View item</span>
								</div>
							</div>
							<div class="shop-item__heading">
								<h4>With Patchwork Crochet</h4>
							</div>
							<span>£80.60</span>
						</a>
						<a href="item.html" class="shop-item">
							<div class="img-holder">
								<img src="img/catalog/image07.jpg" alt="">
								<div class="overlay">
									<span>View item</span>
								</div>
							</div>
							<div class="shop-item__heading">
								<h4>Levi’s Jeans for women</h4>
							</div>
							<span class="new">More colours</span>
						</a>
						<a href="item.html" class="shop-item">
							<div class="img-holder">
								<img src="img/catalog/image08.jpg" alt="">
								<div class="overlay">
									<span>View item</span>
								</div>
							</div>
							<div class="shop-item__heading">
								<h4>Boyfriend T-Shirt with
										Bohemian Print</h4>
							</div>
							<span><span class="new">£120.00 - 25%</span> £90.00</span>
						</a>
						<a href="item.html" class="shop-item">
							<div class="img-holder">
								<img src="img/catalog/image09.jpg" alt="">
								<div class="overlay">
									<span>View item</span>
								</div>
							</div>
							<div class="shop-item__heading">
								<h4>Colour Block</h4>
							</div>
							<span>£550.50</span>
						</a>
						<a href="item.html" class="shop-item">
							<div class="img-holder">
								<img src="img/catalog/image10.jpg" alt="">
								<div class="overlay">
									<span>View item</span>
								</div>
							</div>
							<div class="shop-item__heading">
								<h4>Monki Festval Knitted</h4>
							</div>
							<span>£24.75</span>
						</a>
						<a href="item.html" class="shop-item">
							<div class="img-holder">
								<img src="img/catalog/image11.jpg" alt="">
								<div class="overlay">
									<span>View item</span>
								</div>
							</div>
							<div class="shop-item__heading">
								<h4>Oversized Cardigan</h4>
							</div>
							<span>£90.00</span>
						</a>
						<a href="item.html" class="shop-item">
							<div class="img-holder">
								<img src="img/catalog/image12.jpg" alt="">
								<div class="overlay">
									<span>View item</span>
								</div>
							</div>
							<div class="shop-item__heading">
								<h4>Paul &amp; Joe Sister Jumper 
										with Neon Trims</h4>
							</div>
							<span>£19.75 <span class="new">New</span></span>
						</a>
						<a href="item.html" class="shop-item">
							<div class="img-holder">
								<img src="img/catalog/image13.jpg" alt="">
								<div class="overlay">
									<span>View item</span>
								</div>
							</div>
							<div class="shop-item__heading">
								<h4>Only Busted Knee Jean</h4>
							</div>
							<span>£140.50</span>
						</a>
						<a href="item.html" class="shop-item">
							<div class="img-holder">
								<img src="img/catalog/image14.jpg" alt="">
								<div class="overlay">
									<span>View item</span>
								</div>
							</div>
							<div class="shop-item__heading">
								<h4>Boyfriend T-Shirt with
										Bohemian Print</h4>
							</div>
							<span>£85.75</span>
						</a>
						<div class="sale-block">
							<div class="sale-block__inner">
								<div class="sale-block__heading">
									<h3>Last weekend <span class="hilight">extra 50% </span>
											off on all reduced boots and 
											shoulder bags</h3>
								</div>
								<div class="sale-block__description">This offer is valid in-store and online. Prices displayed reflect this additional discount. This offer ends at 11:59 GMT on March 1st 2015</div>
							</div>
						</div>
					</div>
					<div class="btn-holder">
						<a href="#" class="btn">Show more</a>
					</div>
				</section>
			</div>
		</main>
		<section class="banner">
			<a href="#">
				<picture>
					<source media="(max-width: 1023px)"
							srcset="img/banner03_tablet.jpg">
					<source media="(max-width: 767px)"
							srcset="img/banner03.jpg">
					<img src="img/banner03_desktop.jpg" alt="">
				</picture>
			</a>
			<a href="#">
				<picture>
					<source media="(max-width: 1023px)"
							srcset="img/banner04_desktop.jpg">
					<source media="(max-width: 767px)"
							srcset="img/banner04_tablet.jpg">
					<img src="img/banner04_desktop.jpg" alt="">
				</picture>
			</a>
			<a href="#">
				<picture>
					<source media="(max-width: 1023px)"
							srcset="img/banner02_desktop.jpg">
					<img src="img/banner02_desktop.jpg" alt="">
				</picture>
			</a>
		</section>
		<footer class="footer-holder">
			<div class="container">
				<div class="footer">
					<div class="footer-item">
						<div class="footer-list">
							<div class="footer-list__heading"><h3>Quick Links</h3></div>
							<nav class="footer-navigation">
								<a href="#">Store locator</a>
								<a href="#">Gift cards</a>
								<a href="#">Size guide</a>
								<a href="#">About us</a>
								<a href="#">Support</a>
							</nav>
						</div>
						<div class="footer-list">
							<div class="footer-list__heading"><h3>Customer Care</h3></div>
							<nav class="footer-navigation">
								<a href="#">Customer service</a>
								<a href="#">Track my order</a>
								<a href="#">Return policy</a>
								<a href="#">Shipping &amp; delivery</a>
								<a href="#">Contact us</a>
								<a href="#">Careers</a>
							</nav>
						</div>
					</div>
					<div class="footer-item">
						<div class="footer-info__holder">
							<div class="footer-info">
								<div class="footer-info__heading"><h3>Questions</h3></div>
								<p><img width="12" src="img/twi_ico.svg" alt=""> Tweet us <a href="#">@template</a></p>
							</div>
							<div class="footer-info">
								<div class="footer-info__heading"><h3>Order by phone</h3></div>
								<p>8-800-409-47-12</p>
							</div>
						</div>
						<div class="footer-social__holder">
							<nav class="footer-inline-navigation">
								<a href="">Legal notice</a>
								<a href="">Privacy policy</a>
								<a href="">Site map</a>
							</nav>
							<div class="footer-desktop-text">We have our own delivery service which operates in 23 major European cities. Delivery time - 3-5 days.</div>
							<nav class="social-list">
								<a href="#"><img src="img/fb.svg" alt=""></a>
								<a href="#"><img src="img/twi_color.svg" alt=""></a>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</footer>
	
		<div class="container">
			<div class="footer-copyright">
				<span class="copyright">
					&copy; 2010–2015, The Template Group inc.
				</span>
				<div class="share">
					<a href="#" class="share-link">Share</a>
					<span class="share-icon">
						1 437
					</span>
				</div>
				<nav class="footer-inline-navigation">
					<a href="">Legal notice</a>
					<a href="">Privacy policy</a>
					<a href="">Site map</a>
				</nav>
			</div>
		</div>
	</div>


	<script src="dist/script.js"></script>
	<script src="dist/shop.js"></script>
	<script src="dist/filter.js"></script>
</body>
</html>