<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Start page - shop</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<div class="page-container">
		<header class="header">
			<div class="container">
				<div class="header-inner">
					<a href='start.html' class="logo">Template</a>
					<a href='start.html' class="logo logo-mobile">TL</a>
					<div class="info">
						<a href="#" class="info-link">E-mail sing up</a>
						<a href="shopping-bag.html" class="bag"><img class="bag-icon" width="12" src="img/ico_bag.svg" alt=""> <span id="totalPrice">Bag £0 (0)</span></a>
						<a href="#" class="toggle-btn"><div class="icon-toggle"></div></a>
					</div>
				</div>
				<div class="toggle-block">
					<nav class="toggle-menu">
						<a href="#">Women</a>
						<a href="#">Men</a>
						<a href="#">Handbags</a>
						<a href="#">Accessories</a>
						<a href="#">Sale</a>
						<a href="#">New Arrivals</a>
						<a href="#">Clearance</a>
						<a href="#">Store Locator</a>
					</nav>
					<form action="#" class="search-form">
						<div class="search-holder">
							<input type="text" placeholder="Style Name">
							<button id="search-btn"><img src="img/ico_search.svg" alt=""></button>
						</div>
					</form>
				</div>
			</div>
		</header>
		<main>
			<section class="slider-holder">
				<div class="slider">
					<div class="slide">
						<a href="catalog.html">
							<picture>
								<source media="(max-width: 1023px)"
										srcset="img/slider/image01_tablet.jpg">
								<source media="(max-width: 767px)"
										srcset="img/slider/image01.jpg">
								<img src="img/slider/image01_desktop.jpg" alt="">
							</picture>
						</a>
					</div>
					<div class="slide">
						<a href="item.html">
							<picture>
								<source media="(max-width: 1023px)"
										srcset="img/slider/image02_tablet.jpg">
								<source media="(max-width: 767px)"
										srcset="img/slider/image02.jpg">
								<img src="img/slider/image02_desktop.jpg" alt="">
							</picture>
						</a>
					</div>
					<div class="slide">
						<a href="catalog.html">
							<picture>
								<source media="(max-width: 1023px)"
										srcset="img/slider/image03_tablet.jpg">
								<source media="(max-width: 767px)"
										srcset="img/slider/image03.jpg">
								<img src="img/slider/image03_desktop.jpg" alt="">
							</picture>
						</a>
					</div>
				</div>
				<div class="slider-nav">
					<a href="#" class="prev" id="prev"><div class="icon-arrow"></div></a>
					<a href="#" class="next" id="next"><div class="icon-arrow"></div></a>
				</div>
				<div class="dots">
					<a href="#" class="dot-item active"></a>
					<a href="#" class="dot-item"></a>
					<a href="#" class="dot-item"></a>
					<a href="#" class="dot-item"></a>
				</div>
			</section>
			<section class="banner">
				<a href="item.html">
					<picture>
						<source media="(max-width: 1023px)"
								srcset="img/banner01_tablet.jpg">
						<source media="(max-width: 767px)"
								srcset="img/banner01.jpg">
						<img src="img/banner01_desktop.jpg" alt="">
					</picture>
				</a>
				<a href="catalog.html">
					<picture>
						<source media="(max-width: 1023px)"
								srcset="img/banner02_tablet.jpg">
						<source media="(max-width: 767px)"
								srcset="img/banner02_tablet.jpg">
								<img src="img/banner05_desktop.jpg" alt="">
					</picture>
				</a>
			</section>
			<div class="container">
				<section class="main-shopping-block">
					<div class="main-shopping-block__heading"><h2>New arrivals</h2></div>
					<div class="shop-list">
						<a href="item.html" class="shop-item">
							<div class="img-holder">
								<img src="img/catalog/image01.jpg" alt="">
								<div class="overlay">
									<span>View item</span>
								</div>
							</div>
							<div class="shop-item__heading"><h4>Straight Leg Jeans</h4></div>
							<span>£55</span>
						</a>
						<a href="item2.html" class="shop-item">
							<div class="img-holder">
								<img src="img/catalog/image02.jpg" alt="">
								<div class="overlay">
									<span>View item</span>
								</div>
							</div>
							<div class="shop-item__heading">
								<h4>Boyfriend T-Shirt with
										Bohemian Print</h4>
							</div>
							<span>£34.25</span>
						</a>
						<a href="item2.html" class="shop-item">
							<div class="img-holder">
								<img src="img/catalog/image03.jpg" alt="">
								<div class="overlay">
									<span>View item</span>
								</div>
							</div>
							<div class="shop-item__heading">
								<h4>Only Busted Knee Jean</h4>
							</div>
							<span>£140.50</span>
						</a>
						<a href="item.html" class="shop-item">
							<div class="img-holder">
								<img src="img/catalog/image04.jpg" alt="">
								<div class="overlay">
									<span>View item</span>
								</div>
							</div>
							<div class="shop-item__heading">
								<h4>Only Skinny Jeans</h4>
							</div>
							<span>£12.75</span>
						</a>
					</div>
					<div class="btn-holder"><a href="#" class="btn">All arrivals</a></div>
				</section>
			</div>
		</main>
		<footer class="footer-holder">
			<div class="container">
				<div class="footer">
					<div class="footer-item">
						<div class="footer-list">
							<div class="footer-list__heading"><h3>Quick Links</h3></div>
							<nav class="footer-navigation">
								<a href="#">Store locator</a>
								<a href="#">Gift cards</a>
								<a href="#">Size guide</a>
								<a href="#">About us</a>
								<a href="#">Support</a>
							</nav>
						</div>
						<div class="footer-list">
							<div class="footer-list__heading"><h3>Customer Care</h3></div>
							<nav class="footer-navigation">
								<a href="#">Customer service</a>
								<a href="#">Track my order</a>
								<a href="#">Return policy</a>
								<a href="#">Shipping &amp; delivery</a>
								<a href="#">Contact us</a>
								<a href="#">Careers</a>
							</nav>
						</div>
					</div>
					<div class="footer-item">
						<div class="footer-info__holder">
							<div class="footer-info">
								<div class="footer-info__heading"><h3>Questions</h3></div>
								<p><img width="12" src="img/twi_ico.svg" alt=""> Tweet us <a href="#">@template</a></p>
							</div>
							<div class="footer-info">
								<div class="footer-info__heading"><h3>Order by phone</h3></div>
								<p>8-800-409-47-12</p>
							</div>
						</div>
						<div class="footer-social__holder">
							<nav class="footer-inline-navigation">
								<a href="">Legal notice</a>
								<a href="">Privacy policy</a>
								<a href="">Site map</a>
							</nav>
							<div class="footer-desktop-text">We have our own delivery service which operates in 23 major European cities. Delivery time - 3-5 days.</div>
							<nav class="social-list">
								<a href="#"><img src="img/fb.svg" alt=""></a>
								<a href="#"><img src="img/twi_color.svg" alt=""></a>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</footer>

		<div class="container">
			<div class="footer-copyright">
				<span class="copyright">
					&copy; 2010–2015, The Template Group inc.
				</span>
				<div class="share">
					<a href="#" class="share-link">Share</a>
					<span class="share-icon">
						1 437
					</span>
				</div>
				<nav class="footer-inline-navigation">
					<a href="">Legal notice</a>
					<a href="">Privacy policy</a>
					<a href="">Site map</a>
				</nav>
			</div>
		</div>
	</div>

	<script src="dist/slider.js"></script>
	<script src="dist/script.js"></script>
	<script src="dist/shop.js"></script>
	<script>
		var slider = new Slider('.slider');
	</script>
</body>
</html>