
$thumbnail-padding:           0px !default;
$thumbnail-bg:                #fff !default;
$thumbnail-border:            #ddd !default;
$thumbnail-border-radius:     0 !default;
$thumbnail-caption-padding:   9px !default;

$brand-color: #423938;
$brand-light: #a49e9a;
$brand-lightest: #ffffff;
$brand-dark: #5a4c40;
$brand-darker: #443f3d;

$brand-font-family: 'SegoeUIRegular', sans-serif;
$brand-second-font-family: 'SegoeUILight', sans-serif;
$brand-font-size: 24px;


$thumbnail-caption-color: $brand-light;
$thumbnail-caption-padding: 0;