
@import "variables";
@import "mixins";

@import "components/fonts";
@import "components/scaffolding";
@import "components/normalize";
@import "components/grid";
@import "components/thumbnail";

@import "components/navbar";
@import "components/component-animations";
@import "components/navicons";
@import "components/navs";

@import "components/banner";
@import "components/type";
@import "components/inputs";
@import "components/social-icons";
@import "components/pagination";
@import "components/accordion";

@import "components/price";
@import "components/border";
@import "components/product-section";
@import "components/product-info";
@import "components/coluor";
@import "components/owl.transitions";
@import "components/owl";
@import "components/breadcrumbs";
@import "components/link-cart";
@import "components/heading";
@import "components/price-column";
@import "components/cancel";
@import "components/input-number";
@import "components/block";
@import "components/buttons";
@import "components/forms";
@import "components/menu";
@import "components/lookbook";
@import "components/footer";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}


[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.img-holder {
	img {
		width: 100%;
	}
}